snippet describeComponent
	describe('<${1}>', function tests() {
		${0}
	})
snippet describeTest
	describe('${1}', function tests() {
		${0}
	})
snippet describeMethod
	describe('${1}', () => {
		${0}
	})
snippet beforeEach
	beforeEach(() => {
		${0}
	})
snippet context
	context('${1}', () => {
		${0}
	})
snippet itblock
	it('${1}',() => {
		${0}
	})
snippet expect
	expect(${1}).to.${0}
